
              <section>
                <div class="flex flex-col justify-center flex-1 px-8 py-8 md:px-12 lg:flex-none lg:px-24">
                  <div>
                    <div class="relative">
                      <div class="mx-auto max-w-7xl sm:px-6 lg:px-8">
                        <div class="relative sm:overflow-hidden">
                          <div class="absolute inset-0">
                            <div class="absolute inset-0  mix-blend-multiply"></div>
                          </div>
                          <div class="relative px-4 py-16 sm:px-6 lg:px-8">
                            <div class="max-w-2xl p-10 mx-auto text-center">
                              <div>
                                <p class="text-5xl tracking-tighter text-white">
                                 Make your business perfessional
                                </p>
                                <p class="max-w-xl mt-4 text-lg tracking-tight text-gray-200">
                                  show your business services to customer on your own website, hire me for desired work
                                </p>
                              </div>
                            </div>
                            <div class="flex items-center justify-center w-full max-w-xl pt-8 mx-auto md:pt-6">
                              <form class="w-full">
                                <div class="w-full sm:relative sm:flex sm:items-center">
                                  <div class="relative w-full sm:static sm:flex-auto">
                                    <input type="email" id="email-address" required="" aria-label="Email address" placeholder="Email address" class="relative z-10 w-full px-6 py-3 text-base text-center text-black appearance-none bg-primary custom-blur lg:text-left border-white/10 peer placeholder:text-black/70 focus:border-white/50 focus:outline-none rounded-xl">
                                  </div>
                                  <div class="relative w-full sm:static sm:flex-auto">
                                    <textarea type="text" rows="8" cols="" id="email-address" required=""  placeholder="Email address" class="relative z-10 w-full px-6 py-3 text-base text-center text-black appearance-none bg-primary custom-blur lg:text-left border-white/10 peer placeholder:text-black/70 focus:border-white/50 focus:outline-none rounded-xl">
                                    </textarea>
                                    </div>
                                  <button class="inline-flex items-center justify-center w-full px-6 py-3 mt-2 text-center text-white duration-200 bg-black border-2 lg:m-0 lg:ml-2 lg:mt-0 e hover:bg-gray-100 rounded-xl hover:text-black focus:outline-none lg:w-auto" type="submit">
                                    Submit
                                  </button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>            